@import url('blocks/header.css');
@import url('blocks/landing.css');
@import url('blocks/features.css');
@import url('blocks/testimonials.css');
@import url('blocks/notify.css');
@import url('blocks/footer.css');

body {
	font-family: Verdana, 'Geneva', Tahoma, sans-serif;
	font-size: 1rem;
	line-height: normal;
	min-width: 320px;
	padding: 0;
	color: #979797;
}

img {
	max-width: 100%;
	height: auto;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.selector-for-some-widget {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.features,
.notify {
	background-color: #f8f8f8;
}