@import url('blocks/header.css');
@import url('blocks/landing.css');
@import url('blocks/features.css');
@import url('blocks/testimonials.css');
@import url('blocks/notify.css');

body {
	font-family: Verdana, 'Geneva', Tahoma, sans-serif;
	font-size: 1rem;
	line-height: normal;
	min-width: 320px;
	padding: 0;
	color: #979797;
}

img {
	max-width: 100%;
	height: auto;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.selector-for-some-widget {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* ================================  header  ======================================= */
/* =================================  landing  ============================================== */
/* ====================================  features  ============================================= */
/* =======================================  testimonials  =================================== */
/* =====================================  notify  ========================================== */
/* =================================  footer  ============================================== */

.footer-row {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.social,
.copyright {
	display: inline-flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.social {
	margin-top: 1.5rem;
	font-size: 2rem;
}

.social a {
	padding-right: 3rem;
	color: #a8aeae;
}

.social a:last-child {
	padding-right: 0;
}

.copyright a {
	padding: 0 1rem;
	color: #a8aeae;
}

.copyright a:hover {
	color: #6b6b6b;
}

#twitter-icon:hover {
	color: #00acee;
}

#facebook-icon:hover {
	color: #3b5998;
}

#vimeo-icon:hover {
	color: #4185be;
}

#pinterest-icon:hover {
	color: #cb2027;
}

/* ===============================  media  ================================================ */

@media (min-width: 992px) {}

@media (min-width: 768px) {
	.features-left img {
		margin-bottom: 2rem;
	}
}

@media (max-width: 768px) {

	.features-left img {
		margin-bottom: 2rem;
	}
}

@media (max-width: 576px) {

	.features-right {
		padding-left: 1rem;
	}
}