html {
	line-height: normal;
	font-size: 1rem;
}

body {
	font-family: Verdana, 'Geneva', Tahoma, sans-serif;
	min-width: 540px;
	padding: 0;

	color: #979797;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	padding-right: 0;
	padding-left: 0;
	outline: 2px solid salmon;
}

.selector-for-some-widget {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* ================================  header  ======================================= */
.header {
	padding: 5rem 0;
}

.header-row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.header-slider {
	width: 17.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.header-carousel .carousel-inner {
	padding-bottom: 3rem;
}

.carousel-indicators li {
	width: 0.5rem;
	height: 0.5rem;
	border: 2px solid #35c144;
	border-radius: 50%;
	background-color: transparent;
}

.header-right {
	flex-direction: column;
	padding-left: 2rem;
}

.header-right-title {
	display: flex;
	justify-items: stretch;
	/* align-items: center; */
	margin: 7.5rem 0 4.5rem 0;

	font-size: 1.7rem;
}

.logo {
	margin-right: 1rem;
	width: 20%;
	height: 20%;
}

.header-right p {
	font-size: 1rem;
}

.header-btn {
	background-color: #b9b9b9;
	border-radius: 1rem;
	width: 9rem;

	font-size: 1rem;
	text-transform: uppercase;
	color: #fefefe;
}

.header-btn:hover {
	background-color: #35c144;
	color: #fefefe;
}

.header-btn:focus {
	border: none;
	background-color: green;
	color: #fefefe;
}

.header-right-buttons {
	margin: 3rem 0 2.5rem 0;
}

.header-right-icon-link {
	margin-right: 1.5rem;
	color: #98d361;
}

.header-right-icon-link:hover {
	color: #35c144;
}

/* =================================  landing  ============================================== */
.landing {
	text-align: center;
	background-color: #98d361;
	color: #ffffff;
}

.landing-header {
	margin-left: auto;
	margin-right: auto;
}

.landing-content {
	display: inline-flex;
}

.landing-content-item {
	display: flex;
	flex-direction: column;
}

.landing-content-item img {
	margin-left: auto;
	margin-right: auto;
}

/* ===============================  media  ================================================ */
@media (min-width: 992px) {
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
}
