html {
	line-height: normal;
	font-size: 1rem;
}

body {
	font-family: Verdana, 'Geneva', Tahoma, sans-serif;
	font-size: 0.8rem;
	min-width: 540px;
	padding: 0;

	color: #979797;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	padding-right: 0;
	padding-left: 0;
	outline: 2px solid salmon;
}

.selector-for-some-widget {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* ================================  header  ======================================= */
.header {
	padding: 2rem 0;
}

.header-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.header-slider, #features-slider {
	width: 17.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.header-carousel .carousel-inner, #features-slider .carousel-inner {
	padding-bottom: 3rem;
}

.carousel-indicators li {
	width: 0.5rem;
	height: 0.5rem;
	border: 2px solid #35c144;
	border-radius: 50%;
	background-color: transparent;
}

.header-right {
	padding-left: 2rem;
	margin-top: auto;
	margin-bottom: auto;
}

.header-right-title {
	margin-bottom: 4rem;

	font-size: 1.7rem;
}

.logo {
	margin-right: 1rem;
	width: 20%;
	height: 20%;
}

.header-right p {
	font-size: 1rem;
}

.header-btn {
	background-color: #b9b9b9;
	border-radius: 1rem;
	width: 9rem;

	font-size: 1rem;
	text-transform: uppercase;
	color: #fefefe;
}

.header-btn:hover {
	background-color: #35c144;
	color: #fefefe;
}

.header-btn:focus {
	border: none;
	background-color: green;
	color: #fefefe;
}

.header-right-buttons {
	margin: 3rem 0 2.5rem 0;
}

.header-right-icon-link {
	margin-right: 1.5rem;
	color: #98d361;
}

.header-right-icon-link:hover {
	color: #35c144;
}

/* =================================  landing  ============================================== */
.landing {
	text-align: center;
	background-color: #98d361;
	color: #ffffff;
}

.landing-header {
	margin-left: auto;
	margin-right: auto;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.landing-header span {
	font-size: 1.8rem;
}

.landing-header p {
	margin-top: 1.5rem;

	font-size: 1rem;
}

.landing-content {
	display: inline-flex;
	padding-bottom: 3rem;
}

.landing-content-item {
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
}

.landing-content-item img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.landing-content-item span {
	font-size: 1rem;
}

.landing-content-item p {
	padding-top: 1rem;
}

/* ====================================  features  ============================================= */
.features, .notify {
	background-color: #f8f8f8;
}

.features-row {
	display: flex;
	justify-content: space-around;
}

#features-slider {

}

#features-slider .carousel-item img {
	/* width: 90%;
	height: 90%; */
}

#features-slider .carousel-inner {
	/* justify-content: space-around; */
}

.features-right {
	margin-top: auto;
	margin-bottom: auto;
}

.features-title {
	margin-bottom: 2.2rem;

	font-size: 1.5rem;
	color: #6b6b6b;
}

.feature-item {
	margin-bottom: 2rem;
}

.feature-item:last-child {
	margin-bottom: 0;
}

.feature-item img {
	float: left;
	margin-right: 1rem;
}

.feature-item span {
	color: #97c071;
}

.feature-item p {
	color: #6b6b6b;
}

.feature-item span, .feature-item p {
	font-size: 1rem;
}

/* =====================================  notify  ========================================== */
.notify-row {

}



/* =================================  footer  ============================================== */
.footer-row {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.social, .copyright {
	display: inline-flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.social {
	margin-top: 1.5rem;

	font-size: 2rem;
}

.social a {
	padding-right: 3rem;
	color: #a8aeae;
}

.social a:last-child {
	padding-right: 0;
}

.copyright a {
	padding: 0 1rem ;
	color: #a8aeae;
}

.copyright a:hover {
	color: #6b6b6b;
}

#twitter-icon:hover {
	color: #00acee;
}

#facebook-icon:hover {
	color: #3b5998;
}

#vimeo-icon:hover {
	color:  #4185BE;
}

#pinterest-icon:hover {
	color: #CB2027;
}
/* ===============================  media  ================================================ */
@media (min-width: 992px) {
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
}
