.features {
    padding: 3rem 0;
}

.features-row {
    display: flex;
    justify-content: space-around;
}

.features-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-left img {
    box-shadow: 0.4em 0.4em 4px rgba(122, 122, 122, 0.5);
}

.features-right {
    margin-top: auto;
    margin-bottom: auto;
}

.features-title {
    margin-bottom: 2.2rem;
    font-size: 1.5rem;
    color: #6b6b6b;
}

.feature-item {
    margin-bottom: 2rem;
}

.feature-item:last-child {
    margin-bottom: 0;
}

.feature-item img {
    float: left;
    margin-right: 1rem;
}

.feature-item span {
    color: #97c071;
}

.feature-item p {
    color: #6b6b6b;
}

.feature-item span,
.feature-item p {
    font-size: 1rem;
}

/* ====================================  media  ========================== */
@media (min-width: 320px) {
    .features-left img {
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {}